<?php echo $this->doctype(); ?>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<?php
    $this->headTitle()->append('Mobly Test');
    $this->headTitle()->setSeparator(' - ');
    echo $this->headTitle();
    echo $this->headMeta('Washington', 'author'), PHP_EOL;
    //Bootstrap
    echo $this->headLink()->prependStylesheet($this->baseUrl('/assets/bootstrap/css/bootstrap.css')), PHP_EOL;
?>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <?php echo $this->headScript()->prependFile($this->baseUrl('/assets/js/ie8-responsive-file-warning.js')), PHP_EOL; ?>
    <![endif]-->
    <?php echo $this->headScript()->prependFile($this->baseUrl('/assets/js/ie-emulation-modes-warning.js')), PHP_EOL; ?>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- [if lt IE 9] -->
    <?php echo $this->headScript()->prependFile('https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'), PHP_EOL; ?>
    <?php echo $this->headScript()->prependFile('https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'), PHP_EOL; ?>
    <!-- [endif] -->

    <!-- custom.css-->
    <?php echo $this->headLink()->appendStylesheet($this->baseUrl('/assets/css/justified-nav.css')), PHP_EOL; ?>

</head>
<body>

<div class="container">

      <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <ul class="nav nav-justified">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>


      <div class="jumbotron">
       
      </div>

      <?php echo $this->layout()->content; ?>


      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<?php echo $this->inlineScript()->prependFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'); ?>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<?php echo $this->inlineScript()->prependFile($this->baseUrl('/assets/bootstrap/js/bootstrap.js')); ?>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<?php echo $this->inlineScript()->prependFile($this->baseUrl('/assets/js/ie10-viewport-bug-workaround.js')); ?>

</body>
</html>
