<div class="container">
        <h1>Carrinho</h1>

        <table class="table table-hover">
            <tr>
                <th>Produto</th>
                <th>Nome</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">Remover</th>
                <th class="text-center">Preço</th>
                <th class="text-right">Sub-Total</th>
            </tr>
            
            <?php foreach ($this->cart as $cart) : ?>
                <tr>
                    <td >
                        <a href="/products/details/<?php echo $this->escape($cart['id']); ?>">                           
                            <img src="<?php echo $this->baseUrl($this->escape($cart['image'])); ?>" alt="<?php echo $this->escape($cart['name']); ?>" style="width: 100px; height: 100px;">   
                        </a>
                    </td>
                    <td><a href="/products/details/<?php echo $this->escape($cart['id']); ?>"><?php echo $this->escape($cart['name']); ?></a></td>
                    <td class="text-center">
                        <form action="/cart/edit">
                            <input type="hidden" name="id" value="<?php echo $this->escape($cart['id']); ?>">
                            <select name="quantity" class="quantity">
                                <?php for ( $i = 1; $i <= 10; $i++) : ?>
                                    <option value="<?php echo $i; ?>" <?php if ($i == $cart['quantity']) : ?> selected="selected" <?php endif ?>>
                                        <?php echo $i; ?>
                                    </option>
                                <?php endfor; ?>
                            </select>
                        </form>
                    </td>
                    <td class="text-center">
                        <a href="/cart/delete/<?php echo $key, '/', $this->escape($cart['id']); ?>" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>
                    </td>
                    <td class="text-center"><?php echo $this->escape($cart['price']); ?></td>
                    <td class="text-right"><?php echo ($this->escape($cart['price']) * $this->escape($cart['quantity'])); ?></td>
                </tr>
           <?php endforeach; ?>
            <tr>
                <th colspan="5" class="text-right">TOTAL:</th>
                <th class="text-right"><?php echo $this->escape($this->cart['total_cart']); ?></th>
            </tr>
            <tr>
                <td colspan="6" class="text-right"><a href="/checkout" class="btn btn-success btn-lg">Finalizar Compra</a></td>
            </tr>
        </table>
    </div>