<div class="row">


<div class="col-lg-4">    
    <div class="thumbnail">
        <img src="<?php echo $this->baseUrl($this->escape($this->product['image'])); ?>" alt="<?php echo $this->escape($this->product['name']); ?>">   
    </div>    
</div>
<div class="col-lg-4">
    <h2><?php echo $this->escape($this->product['name']); ?></h2>
    <p class="text-danger"><?php echo $this->escape($this->product['description']); ?></p>
    <p>R$ <?php echo $this->escape($this->product['price']); ?></p>
    <p><a href="/cart/add/<?php echo $this->escape($this->product['id']); ?>" class="btn btn-primary btn-lg btnblock">Comprar</a></p>
</div>    


</div>  
