<div class="row">
<?php foreach ($this->products as $product) { ?>
 
<div class="col-sm-6 col-md-3">
<div class="thumbnail">
    <img src="<?php echo $this->baseUrl($this->escape($product['image'])); ?>" alt="<?php echo $this->escape($product['name']); ?>">
    <div class="caption">
        <h3><?php echo $this->escape($product['name']); ?></h3>
        <p class="lead">R$ <?php echo $this->escape($product['price']); ?></p>
        <p><a href="details/<?php echo $this->escape($product['id']); ?>" class="btn btn-primary btn-lg btnblock">Visualizar</a></p>
    </div>
</div>
</div>
    
<?php } ?>

</div>  
